* {
  font-family: 'Lato', sans-serif;
}

body, html {
  height: 100%;
  min-height: 100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#ani {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  background-color: coral;
  -webkit-animation: square-to-circle 4s 0.5s infinite cubic-bezier(1, 0.015, 0.295, 1.225) alternate;
  margin-top: 15px;
  margin-bottom: 25px;
  position: absolute;
}

@-webkit-keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: #EE6457;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background: #EE6457;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: #EE6457;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: #EE6457;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background: #EE6457;
    transform: rotate(180deg);
  }
}
#nav {
  position: absolute;
}

#nav ul {
  list-style-type: none;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  color: #414042;
  padding: 26px 0;
}

#nav li {
  display: inline;
  margin: 0 25px;
}

#nav a {
  color: #414042;
}

#close {
  right: 0;
}

#first-page #intro p {
  letter-spacing: 4px;
}

#about h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 900;
  color: #EE6457;
  letter-spacing: 7.5px;
  font-weight: 400;
  font-size: 3.0em;
}

#about p {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  color: #414042;
}

#second-page {
  background-color: #FF561C;
  padding: 20vh 0;
  overflow-x: hidden;
}

#second-page #mango h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 900;
  color: #EE6457;
  letter-spacing: 7.5px;
}

#second-page #mango h2 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 400;
  color: #FF561C;
  letter-spacing: 3px;
  margin: 40px;
  color: white;
}

#second-page #mango p {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  color: #414042;
  margin: 50px 0;
  color: white;
}

#second-page #images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

#second-page #images p {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  color: #414042;
  margin: 10px 0;
  color: white;
  padding: 0 15px;
}

#third-page h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 400;
  color: #FF561C;
  letter-spacing: 3px;
}

#third-page p {
  @inlcude para-style;
  text-align: center;
}

#fourth-page {
  background-color: #FF561C;
}

#fourth-page h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 400;
  color: #FF561C;
  letter-spacing: 3px;
  color: white;
}

#fourth-page p {
  @inlcude title-style;
  text-align: center;
}

.font-style h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  font-weight: 900;
  color: #EE6457;
  letter-spacing: 7.5px;
}

.font-style h2 {
  @inlcude sec-style;
}

.font-style p {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  color: #414042;
}

.wrapper {
  padding: 45vh 0;
}

.line {
  display: block;
  width: 80%;
  height: 1px;
  color: white;
}

hr {
  display: block;
  width: 80%;
  color: #414042;
}

/*# sourceMappingURL=stylesheetv1.css.map */
